@page "/wrong-token"

<PageTitle>Invalid</PageTitle>

<h3>Access Denied</h3>
<p>Wrong kind of token!</p>
<p>Voter tokens are @Config.VoterTokenLength characters long.</p>
<p>Admin tokens are @Config.AdminTokenLength characters long.</p>